<h1>Menu do cliente</h1>
<ul>
    <ui><a href="/profile">Profile</a></ui>
    <ui><a href="/plans">Planos</a></ui>
    <ui><a href="/orders">Pedidos</a></ui>
    <ui><a href="/watchList">Vídeos favoritos</a></ui>
</ul>