<div class="py-5 my-5 text-center h-100" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Cadastro da filmes online</h1>
          <p class="mb-3">Preencha os dados para realizar a sua assinatura</p>
          <p class="mb-3 ">{{err}}</p>
          <form class="text-left" action="/new-customer" onsubmit="return validaFormLogin()" method="POST">
            <div class="form-group"> <label for="nome">Seu primeiro nome</label> <input type="text" class="form-control" name="first_name" id="nome" placeholder="Johann"> </div>
            <div class="form-group"> <label for="sobrenome">Seu segundo nome</label> <input type="text" class="form-control" id="sobrenome" name="last_name" placeholder="Goethe"> </div>
            <div class="form-group"> <label for="email">Seu e-mail</label> <input type="email" class="form-control" id="email" name="email" placeholder="j.goethe@werther.com"> </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="senha">Senha</label> <input type="password" name="password" class="form-control" id="senha" placeholder="******"> </div>
              <div class="form-group col-md-6"> <label for="redigitasenha">Confirmar senha</label> <input type="password" style="background-color: aquamarine;" name="repassword" class="form-control" id="redigitasenha" placeholder="******"> </div>
              


              


            </div>
            <div class="form-group"> <label for="cep">CEP</label> <input type="text"   onkeydown="cepMask()" placeholder="ex: 99.999-999" maxlength="10" class="form-control" onblur="onLeave()" name="postal_code" id="cep" placeholder="Cep"> </div>
            <div class="form-group"> <label for="endereco">Endereço</label> <input type="text"  class="form-control" name="address" id="endereco" placeholder="Endereço"> </div>
              
            <div class="form-row">
              
               <div class="form-group col-md-6"> <label for="bairro">Bairro</label> <input type="text" class="form-control"  id="bairro" name="district" placeholder="Bairro"> </div>
              
             
                <div class="form-group col-md-6"> <label for="endereco">Numero</label> <input type="text"  class="form-control" name="numero" id="numero" placeholder="Numero"> </div>
          
              </div>
            
            
              
            <div class="form-group"> <label for="cidade">Cidade</label> <input type="text" class="form-control"  id="cidade" name="city" placeholder="Cidade"> </div>
            <div class="form-group"> <label for="estado">Estado</label> <input type="text" class="form-control"  id="estado" name="state" placeholder="Estado"> </div>
            <div class="form-group mb-3"> <label for="telefone">Telefone</label> <input type="tel"   onblur="telefoneMask()"  maxlength="16"  class="form-control" id="telefone" name="phone"  placeholder="(xx)-xxxxx-xxxx"> </div>
            
            <button id="submit"    onsubmit="enableDisableSendButton()" type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="py-3 h-50" style="" >
    <div class="container">
      <div class="row">
      </div>
    </div>
    </div>
   