
    {{>carousel}}

  <div class="py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/invencivel.jpg">
            <div class="card-body">
              <p onload="resumeSinopse(this)" class="card-text">A young daydreamer assumes the identity of a dead martial arts hero and quickly finds himself caught up in a plot by several clans to steal famous martial arts artifacts being transported by an escort company.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {{>watchbutton}}
                </div> <small class="text-muted">80 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/walkingdead.jpg">
            <div class="card-body">
              <p onload="resumeSinopse(this)" class="card-text">Ambientada em Los Angeles, a série mostra o começo do apocalipse zumbi e a temível desintegração da sociedade pelos olhos de uma família disfuncional, que precisa se unir para tentar sobreviver ao caos do fim dos tempos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {{>watchbutton}}
                  
                </div> <small class="text-muted">120 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/supernatural.jpg">
            <div class="card-body">
              <p onload="resumeSinopse(this)" class="card-text">Os irmãos Dean e Sam vasculham o país em busca de atividades paranormais, brigando com demônios, fantasmas e monstros no caminho.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                {{>watchbutton}}
                </div> <small class="text-muted">150 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/wonderwoman.jpg">
            <div class="card-body">
              <p onload="resumeSinopse(this)" class="card-text">Em 1984, Diana Prince entra em conflito com dois inimigos formidáveis, Maxwell Lord e a Mulher-Leopardo, enquanto reencontra misteriosamente com seu antigo interesse amoroso Steve Trevor.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                {{>watchbutton}}
                </div> <small class="text-muted">110 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/freaky.jpg">
            <div class="card-body">
              <p onload="resumeSinopse(this)" class="card-text">Depois de trocar de corpo com um assassino em série, a adolescente de colegial Millie descobre que tem menos de um dia para reverter a situação antes que seja tarde demais.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {{>watchbutton}}
                </div> <small class="text-muted">50 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/grito.jpg">
            <div class="card-body">
              <p onload="resumeSinopse(this)" class="card-text">Mirium Jones sofre de esquizofrenia e está afastada de seu marido por causa de um caso extraconjugal. Ela viaja sozinha para a terra de seus sonhos. Triste e perdida, ela vai a uma antiga Basílica onde faz uma promessa para ao Diabo. Ao retornar a sua casa, ela se reúne com o marido Gabriel e os dois partem para recomeçar a vida em um novo lar no meio da floresta e a muitas milhas da cidade. Imagens estranhas começam a assombrar Mirium e depois de uma violenta discussão Gabriel desaparece. Agora sozinha e isolada as manifestações demoníacas e aterrorizantes começam a levá-la ao limite da sanidade. Será que o diabo vem para cobrar o que lhe é devido?</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {{>watchbutton}}
                </div> <small class="text-muted">62 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/simpsons.jpg">
            <div class="card-body">
              <p onload="resumeSinopse(this)" class="card-text">A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz em sua família. Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. E a pequena Maggie conquista todos enquanto não larga sua chupeta. E a série tem um rico, e muitas vezes estranho, universo de personagens que também habitam Springfield. Com roteiros inteligentes, humor subversivo e divertidamente genial, a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {{>watchbutton}}
                </div> <small class="text-muted">59 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/monstros.jpg">
            <div class="card-body">
              <p  onload="resumeSinopse(this)" class="card-text">Uma empresa de robótica que tenta ganhar um lucrativo contrato militar se alia a um agente corrupto da CIA para conduzir um teste ilegal de campo ao vivo. Eles lançam quatro protótipos de robôs armados em um campo suspeito de fabricação de drogas no Triângulo Dourado, presumindo que estariam matando traficantes de drogas que ninguém perderia. Seis médicos em uma missão humanitária testemunham o massacre brutal e se tornam os principais alvos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 {{>watchbutton}}
                </div> <small class="text-muted">88 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top img-fluid img-thumbnail p-2" src="/imgs/covers/front/convencaobruxas.jpg">
            <div class="card-body">
              <p  onload="resumeSinopse(this)" class="card-text">Um menino acaba descobrindo uma conferência de bruxas enquanto fica com a avó em um hotel e é transformado em rato pela Grande Bruxa.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {{>watchbutton}}
                </div> <small class="text-muted">75 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  