

    <div class="py-5 text-center h-100" style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;" >
    <div class="container">
      <div class="row h-50 m-5">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4">Log in</h1>
          <form>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Enter email" id="form9"> </div>
            <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="Password" id="form10"> <small class="form-text text-muted text-right">
                <a href="#"> Recover password</a>
              </small> </div> <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>