<div class="py-5 my-5 text-center h-100" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Cadastro da filmes online</h1>
          <p class="mb-3">Preencha os dados para realizar a sua assinatura</p>
          <form class="text-left">
            <div class="form-group"> <label for="form16">Seu primeiro nome</label> <input type="text" class="form-control" id="form16" placeholder="Johann"> </div>
            <div class="form-group"> <label for="form17">Seu segundo nome</label> <input type="text" class="form-control" id="form17" placeholder="Goethe"> </div>
            <div class="form-group"> <label for="form18">Seu e-mail</label> <input type="email" class="form-control" id="form18" placeholder="j.goethe@werther.com"> </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="form19">Senha</label> <input type="password" class="form-control" id="form19" placeholder="******"> </div>
              <div class="form-group col-md-6"> <label for="form20">Confirmar senha</label> <input type="password" class="form-control" id="form20" placeholder="******"> </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="py-3 h-50" style="" >
    <div class="container">
      <div class="row">
      </div>
    </div>
    </div>
   