<div class="py-5 text-center text-light h-100" style="	background-image: linear-gradient(to bottom, rgba(0, 1,2, 0.2), rgba(0, 10, 100, 0.8)), url('/imgs/developer.jpg');	background-position: top left, top left;	background-size: 100%, 100%;	background-repeat: repeat, repeat;" >
<div class="container">
  <div class="row">
    <div class="mx-auto col-md-12">
      <h1 class="mb-3">Conheça o desenvolvedor</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-6 p-4"> <img class="d-block mb-3 rounded-circle img-fluid mx-auto" src="imgs/avatar.png" width="100"></img>
      <h4> <b>Homero</b></h4>
      <p>Front-end developer</p>
      <p class="mb-0"> <i>"Eu criei o front-end usando pingendo e handlebars"</i> </p>
    </div>
    <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="imgs/avatar.png" width="100"></img>
      <h4> <b>Homero</b></h4>
      <p>Back-end developer</p>
      <p class="mb-0"> <i>"Este site foi desenvolvido utilizando nodejs, sequelize, mysql na RDA da AWS"</i> </p>
    </div>
    <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="imgs/avatar.png" width="100"></img>
      <h4> <b>Homero</b></h4>
      <p>Database developer</p>
      <p class="mb-0"> <i>"O banco de dados desta aplicação é o banco de demonstração do mysql, sakila"</i> </p>
    </div>
    <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="imgs/avatar.png" width="100"></img>
      <h4> <b>Homero</b></h4>
      <p>Fullstack developer</p>
      <p class="mb-0"> <i>"Esta aplicação foi desenvolvida para ser utilizada como um portfólio pessoal"</i> </p>
    </div>
  </div>
</div>
</div>
