

  <div class="py-5 mx-auto text-center h-100" style="	background-image: url('/imgs/bg-login.jpg'), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)); background-size: cover, 100%; background-position: left top, left top; ">
    <div class="container">
      <div class="row " style="" >
        <div class="col-md-7 col-10 p-5 my-5 mx-auto" style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h1 class="mb-4 text-light">Log in</h1>
          <form action="/authentication" method="POST">
            <div class="form-group"> <input type="email" placeholder="Informe o seu E-mail" id="form9" name="email" class="form-control"> </div>
            <div class="form-group mb-3"> <input type="password" placeholder="Insira a sua senha" id="form10" name="password" class="form-control"> <small class="form-text text-muted text-right">
                <a href="#"> Recover password</a>
              </small> </div> <button type="submit" class="btn btn-secondary btn-lg btn-block">Acessar</button>
          </form>
        </div>
      </div>
    </div>
  </div>