 <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="text-center mx-auto col-md-12">
          <h1>Nossos planos</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 p-3">
          <div class="card bg-dark text-center text-light">
            <div class="card-body p-4">
              <h3>Basic</h3>
              <h2 class="my-3"> <b>R$ 9,99 / Mês</b></h2>
              <p>Plano básico para você que é solteiro e assiste somente do celular ou computador</p>
              <ul class="text-left">
                <li>Filmes&nbsp;</li>
                <li>Séries</li>
                <li>Documentários</li>
                <li>1 dispositívo conectado</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Comece agora</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card bg-dark text-center text-light">
            <div class="card-body p-4">
               <h3><span class="badge badge-secondary">Recomendado</span></h3> 
              <h3>Flex</h3>
              <h2 class="my-3"> <b>R$ 19,99 /&nbsp;</b>Mês</h2>
              <p>Plano intermediário para você que quer dividir com até uma pessoa de sua família os benefícios de ser um assinante da filmes online</p>
              <ul class="text-left">
                <li>Filmes</li>
                <li>Séries</li>
                <li>Documentários</li>
                <li>Reportagens</li>
                <li>Entrevistas</li>
                <li>Músicais</li>
                <li>Até 2 dispositivos conectados</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Comece agora</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card bg-dark text-center text-light">
            <div class="card-body p-4">
              <h3>Prime</h3>
              <h2 class="my-3"> <b>R$ 29,99 /&nbsp;</b>Mês</h2>
              <p>Plano premium com todos os recursos disponíveis na filmesonline e com possibilidade de dividir com toda sua família. É satisfação para todos!</p>
              <ul class="text-left">
                <li>Filmes</li>
                <li>Séries</li>
                <li>Documentários</li>
                <li>Reportagens</li>
                <li>Entrevistas</li>
                <li>Músicais</li>
                <li>Romances</li>
                <li>Policiais</li>
                <li>Adultos</li>
                <li>Até 5 dispositívos conectados</li>
                <li>Recurso assista offline</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Comece agora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>