            <div class="form-group"> <label for="form25">Cidade</label> <input  type="text" class="form-control" id="form25" name="city"  placeholder="Cidade" />
              
             
              </div>