            <div class="form-group"> <label for="form25">Cidade</label> <select  class="form-control" id="form25" name="city" >
              
              <option value="0">Cidade</option>
              <option value="1">São Paulo</option>
              <option value="2">Rio de Janeiro</option>
              
              </select> </div>