            <div class="form-group"> <label for="form24">País</label> <select  class="form-control" id="form24" name="country" >{{#each countries}}
              
              <option value="{{country}}"></option>
              {{/each}}
              </select> </div>