  
  <footer  onload="carregou()"  ><div class="py-3 bg-primary" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex align-items-center bg-primary">
          <ul class="nav d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="/home">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Recursos</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Preços</a> </li>
          </ul> <i class="d-block fa fa-stop-circle fa-3x mx-auto text-primary"></i>
          <p class="mb-0 py-1">©2020 Sakila filmes online<br></p>
        </div>
      </div>
    </div>
  </div>
  <script src="js/front.js"   style=""></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
  <script src="js/popper.js"   style=""></script>
  <script src="js/bootstrap.min.js"   style=""></script>
  </footer>
</body>

</html>