  
  <footer  onload="carregou()"  ><div class="py-3 bg-primary"  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex align-items-center bg-primary">
          <ul class="nav d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="/home">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Recursos</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/teams">Nossa equipe</a> </li>
          </ul> <i class="d-block fa fa-stop-circle fa-3x mx-auto text-primary"></i>
          <p class="mb-0 py-1">©2020 Sakila filmes online<br></p>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery.js" type="text/javascript"  ></script>
  <script src="fontawesome/js/fontawesome.js" type="text/javascript"    ></script>
  <script src="js/front.js"  type="text/javascript" ></script>
  <script src="/js/jquery.js"  type="text/javascript"  ></script>
  <script src="js/popper.js"   type="text/javascript" ></script>
  <script src="js/bootstrap.min.js" type="text/javascript"   ></script>
  </footer>
  <script>
      document.querySelector('card-text').addEventListener('onload',()=>{
      let data = document.getElementsByClassName('card-text');
    let newData= [];
  for(i=0; i< data.length; i++){
   newData.push(data.item(i).innerHTML.substring(0,100) +'...');
   data.item(i).innerHTML = newData[i];
   
  }
    })
  </script>
</body>

</html>