<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>{{title}}</title>
  <meta name="description" content="aplicação web sakila">
  <meta name="keywords" content="aplicação web sakila">
  <meta name="author" content="Homero">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="fontawesome/css/fontawesome.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="fontawesome/css/solid.css" type="text/css">
  <link rel="stylesheet" href="fontawesome/css/brands.css" type="text/css">
  <link rel="stylesheet" href="fontawesome/css/regular.css" type="text/css">
  <link rel="stylesheet" href="css/wireframe.css" type="text/css">
  
 
</head>
<body  class="h-100" onload="return carregou()">
  
 