<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>{{title}}</title>
  <meta name="description" content="aplicação web sakila">
  <meta name="keywords" content="aplicação web sakila">
  <meta name="author" content="Homero">
  <!-- CSS dependencies -->
  <script defer src="../../../../node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
  <script defer src="../../../../node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
  <script defer src="../../../../node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
  <link rel="stylesheet" href="fontawesome/css/fontawesome.css" type="text/css">
  <link rel="stylesheet" href="fontawesome/css/solid.css" type="text/css">
  <link rel="stylesheet" href="fontawesome/css/brands.css" type="text/css">
  <link rel="stylesheet" href="fontawesome/css/regular.css" type="text/css">
  <link rel="stylesheet" href="css/wireframe.css" type="text/css">
  
 
</head>
<body  class="h-100" onload="return carregou()">
  
 