<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>{{title}}</title>
  <meta name="description" content="aplicação web sakila">
  <meta name="keywords" content="aplicação web sakila">
  <meta name="author" content="Homero">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/wireframe.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"   style=""></script>
  <script src="js/front.js" type="text/javascript" ></script>
</head>
<body >
  
 