<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        {{> brand}}
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="/home">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/filmes">Filmes</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/planos">Planos</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-pencil-square-o bg-primary"></i>Cadastro<br></a> </li>
        </ul>
        <a class="btn navbar-btn ml-md-2 d-flex btn-secondary" href="/logoff" ><i class="fa-sign-in fa-fw lead pull-left fa-lg d-flex flex-column justify-content-center" aria-hidden="true" ></i>Logoff</a>
      </div>
    </div>
  </nav>