<div class="py-5 my-5 text-center h-100" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Cadastro da filmes online</h1>
          <p class="mb-3">Preencha os dados para realizar a sua assinatura</p>
          <p class="mb-3 ">{{err}}</p>
          <form class="text-left" action="/new-customer" onsubmit="return validaFormLogin()" method="POST">
            <div class="form-group"> <label for="form16">Seu primeiro nome</label> <input type="text" class="form-control" name="first_name" id="form16" placeholder="Johann"> </div>
            <div class="form-group"> <label for="form17">Seu segundo nome</label> <input type="text" class="form-control" id="form17" name="last_name" placeholder="Goethe"> </div>
            <div class="form-group"> <label for="form18">Seu e-mail</label> <input type="email" class="form-control" id="form18" name="email" placeholder="j.goethe@werther.com"> </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="form19">Senha</label> <input type="password" name="password" class="form-control" id="form19" placeholder="******"> </div>
              <div class="form-group col-md-6"> <label for="form20">Confirmar senha</label> <input type="password" name="repassword" class="form-control" id="form20" placeholder="******"> </div>
            </div>
            <div class="form-group"> <label for="form21">CEP</label> <input type="text"  pattern="xx-xxx-xxx" placeholder="ex: 99-999-999" maxlength="9" class="form-control" onblur="onLeave()" name="postal_code" id="form21" placeholder="Cep"> </div>
            <div class="form-group"> <label for="form22">Endereço</label> <input type="text" class="form-control" name="address" id="form22" placeholder="Endereço"> </div>
            <div class="form-group"> <label for="form23">Bairro</label> <input type="text" class="form-control" id="form23" name="district" placeholder="Bairro"> </div>
            {{>countrydropdown}}

            {{>citydropdown}}
            <div class="form-group"> <label for="form26">Estado</label> <input type="text" class="form-control" id="form26" name="district" placeholder="Estado"> </div>
            <div class="form-group mb-3"> <label for="form27">Telefone</label> <input type="tel" pattern="(xx)-xxxxx-xxxx" maxlength="15"  class="form-control" id="form27" name="phone"  placeholder="(xx)-xxxxx-xxxx"> </div>
            
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="py-3 h-50" style="" >
    <div class="container">
      <div class="row">
      </div>
    </div>
    </div>
   